<nav class="navbar navbar-height-responsive" id="navbar-height-responsive">
  <div class="hamburger-menu-icon">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="logo-head">
    <h2 class="logo">eBrandz</h2>
  </div>
  <ul class="nav-list">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Available Theme</a></li>
    <li><a href="#">Website List</a></li>
    <li><a href="#">Manage Orders</a></li>
  </ul>
  <div class="buttons">
    <img src="../assets/Deafult-Profile-Pitcher.png" alt="" style="width: 50px;height: 50px;margin-top: 5px;">
  </div>
</nav>
<mat-toolbar class="subNavbareTheme">
  <p class="logoTheme">Dashboard / Website Overview</p>
</mat-toolbar>
<div>
  <mat-drawer-container>
    <mat-drawer [opened]="true" [disableClose]="true" mode="side">
      <ul class="UlTheme">
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">widgets </mat-icon>&nbsp;&nbsp;
          Overview</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">settings_input_hdmi </mat-icon>
          &nbsp;&nbsp;
          Plugins</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">perm_media </mat-icon>&nbsp;&nbsp;
          Theme</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">grade </mat-icon>&nbsp;&nbsp;
          Review This Theme</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">settings_input_hdmi </mat-icon>
          &nbsp;&nbsp;
          Plugins</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">perm_media </mat-icon>&nbsp;&nbsp;
          Theme</li>
        <li class="LiTheme">&nbsp;&nbsp;<mat-icon style="vertical-align: middle;">widgets </mat-icon>&nbsp;&nbsp;
          Overview</li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <main>
        <app-home></app-home>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</div>